[Desktop Entry]
Version=1.0
Name=cnping
Comment=Minimal Graphical IPv4 Ping/HTTP Ping Tool
Type=Application
# It is currently nonsense to call the executable without arguments.
# Exec=cnping
# Terminal=true # Reconsider once Exec is set
Icon=com.github.cntools.cnping
Categories=Network;
Keywords=ping;
StartupWMClass=cnping

