[Desktop Entry]
Version=1.0
Name=cnping
Comment=Minimal Graphical IP Ping/HTTP Ping Tool
Type=Application
Icon=com.github.cntools.cnping
Categories=Network;
Keywords=ping;
StartupWMClass=cnping

# cnping is meant to be started from command line, let's give users a hint.
Exec=bash -c "cnping ; bash"
Terminal=true

